@use 'sass:color';

.header-block {
  display: flex;
  flex-flow: column;

  &__references {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1% 0%;
    background-color: $second-color-lighter;
    color: $first-color;

    @include font-family;

    &__information {
      justify-self: center;
      display: flex;
      flex-flow: row nowrap;
      gap: 20px;
    }
  }

  &__logo {
    font-size: 4rem;
    background-color: $second-color;
    color: $first-color;
    padding: 2.5% 11%;
    border-bottom: 3px solid $third-color;

    @include font-family;

    font-weight: 700;

    &::after {
      content: attr(data-end-content);
      color: $third-color;
      font-size: 4rem;
    }
  }

  &__categories {
    padding: 1.4% 11%;
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
    border-bottom: 2px solid color.adjust($second-color, $alpha: -0.9);

    @include font-family;

    font-size: 1rem;
    font-weight: 500;
  }
}

.icon {
  color: $third-color;
  font-size: 1.2rem;
}
