@use 'sass:color';

.card-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-auto-rows: min-content;
  border: 1px solid color.adjust($second-color, $alpha: -0.9);
  border-radius: 8px;
  overflow: hidden;
  background: $first-color;

  &__image {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    user-select: none;
    justify-self: center;
  }

  &__title,
  &__category,
  &__price {
    justify-self: center;

    @include font-family;

    font-size: 1.2rem;
  }

  &__title {
    font-weight: 700;
    padding: 8px 12px 0;
    text-align: center;
  }

  &__category {
    color: color.adjust($second-color, $alpha: -0.6);
    font-weight: 500;
    padding: 0 12px;
  }

  &__price {
    font-weight: 900;
    color: $third-color;
    padding: 8px 12px 12px;
  }

  &__button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 40px;
    gap: 10px;
    margin: 0 12px 12px;

    & span {
      @include font-family;

      font-size: 0.8rem;
    }
  }
}

/* Tablet */
@media (width <= 1024px) {
  .card-container {
    &__title,
    &__category,
    &__price {
      font-size: 1rem;
    }
  }
}

/* Mobile */
@media (width <= 767px) {
  .card-container {
    &__image {
      aspect-ratio: 1 / 1;
    }

    &__title,
    &__category,
    &__price {
      font-size: 0.9rem;
    }

    &__price {
      font-size: 1rem;
    }
  }
}
