@use 'sass:color';

.card-container {
  display: grid;
  grid-template-rows: 13fr 1fr 1fr 1fr;
  border: 1px solid color.adjust($second-color, $alpha: -0.9);

  &__image {
    width: 85%;
    height: auto;
    user-select: none;
    justify-self: center;
  }

  &__title,
  &__category,
  &__price {
    justify-self: center;
    @include font-family;
    font-size: 1.2rem;
  }

  &__title {
    font-weight: 700;
  }

  &__category {
    color: color.adjust($second-color, $alpha: -0.6);
    font-weight: 500;
  }

  &__price {
    font-weight: 900;
    color: $third-color;
  }

  &__button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 40px;
    gap: 10px;

    & span {
      @include font-family;
      font-size: 0.8rem;
    }
  }
}

.mobile {
  grid-template-rows: 2fr 1fr 1fr 1fr;
  max-height: 200px;

  & .card-container__title,
  & .card-container__category,
  & .card-container__price {
    justify-self: center;
    @include font-family;
    font-size: 0.7rem;
  }

  & .card-container__title {
    margin-top: 1vh;
    text-align: center;
  }

  & .card-container__price {
    font-size: 0.9rem;
  }
}
