.footer-block {
  height: 10vh;
  background-color: $second-color;
  color: $first-color;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  align-items: center;
  padding: 3% 0;

  @include font-family;
}

.logged-in {
  height: 10vh;
}

.not-logged-in {
  height: 5vh;
}

.mobile {
  padding: 5vh 0;
  height: fit-content;
  text-align: center;
}

/* Tablet */
@media (width <= 1024px) {
  .footer-block {
    padding: 5vh 0;
    height: fit-content;
    text-align: center;
  }
}

/* Mobile */
@media (width <= 767px) {
  .footer-block {
    padding: 5vh 0;
    height: fit-content;
    text-align: center;
  }
}
