.base {
  background-color: $second-color;
  color: $first-color;
  border: none;
  font-weight: 700;
}

.link {
  color: $first-color;
  text-decoration: underline;
  background: none !important;
  border: none !important;
}

.loading {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
